@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-container::-webkit-scrollbar {
    width: 10px;
}

.chat-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d5dae4;
}